<!DOCTYPE HTML>
<html>

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>

<body>
  <div id="wrapper">

    <header>
      <nav class="main-nav">
        <ul>
          <li class="nav-left">
            <a href="./log.html">Change</a>
          </li>
          <li class="nav-center">
            <h1 class="screen-title">
              Your last trip
            </h1>
          </li>
          <li class="nav-right">
            <a href="#">Menu</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="confirm-screen">
      <div class="confirm-screen-message">
        <p>
          You just drove <strong>50 miles</strong><br/>
          for <strong>Boston Market</strong>
        </p>

        <p>
          <a href="go.html" class="btn">
            Start a new trip
          </a>
        </p>
      </div>
    </main>
  </div>

</body>

</html>
