<div id="wrapper">

    <header>
      <nav class="main-nav">
       <h1 class="screen-title col-md-6 col-md-offset-4">Legal Disclaimer</h1>
      </nav>
    </header>

    <main id="disFile">
     <div class="col-md-6 col-md-offset-3">
      <p>
       The user hereby acknowledges that Tax Trax is not a substitute for the professional advice of a certified pulbic accountant or a tax attorney.  Therefore, the user agrees that Tax Trax will not be held liable by the user for any errors resulting from the user's failure to obtain proper advice from a CPA or Tax Lawyer.</p>

       <p>By Clicking and and continuing on User agrees to release Tax Trax and all it's assocaites from damages, claims, and suits on behalf of information filled out by the user and legal departments. Tax Trax can no be held responseable for Errors on the User's part frauldlent or otherwise.
      </p>
     </div>
     <br>

     <div id="agree" class="col-md-6 col-md-offset-3">
      <form action="filings/new" method="get">
      <input type="checkbox" name="disclaimer"  value="agree" required>I have read and agree to the terms and conditions<br>
      <br>
      <input id="agreeButton" class="btn-primary" type="submit" value="I agree to terms and conditions" />
      </form>
     </div>
    </main>

  </div>
