<div>
  <fieldset class="formAction col-md-1 col-md-offset-8">
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-info btn-block" %>
      </fieldset>
  <fieldset class="formAction ">
      <a class="btn btn-success" href="/users/sign_up">Sign Up</a>
      </fieldset>
</div>

<div class="col-md-6 text-center col-md-offset-3">
 <h1>Ditch the paper logbook.</h1>
 <h4>Tax Trax is the digital record keeper that keeps track of your work mileage and heps you calculate it to get the most money back in tax rebaites.</h4>
</div>

<div class="col-md-8 text-center col-md-offset-2">
 <h2>Tax Trax is for</h2>
 <div id="forDuo" class="text-center col-md-offset-1">
 <div class="col-md-5">
  <h3 class="">Delivery Drivers</h3>
   <p>Whether you are part of a large corperation, a franchise, or a small business, if you are working for someone and using your personal car to drive for them then you are spending your money for work. Tax laws recognize that, and are willing to give you money back if you are keeping track of your expenses. Tax Trax is an app desinged for that purpose.</p>
 </div>
 <div class="col-md-5">
  <h3 class="">Independant Contractors</h3>
   <p>Whether you are the boss of your own business or the boss of your own work. If you are using your personal car for work purposes then you are paying into the business and your can get money back for that in Tax rebates. All you have to do is keep a good record of your expenses. Tax Trax can help you with that. </p>
 </div>
 </div>
 <h3 id="forUno" class="col-md-6 text-center col-md-offset-3">Anyone who drives thier own car for work purposes</h3>
</div>

<div class="col-md-6 text-center col-md-offset-3">
 <h2>What are you waiting for?</h2>
 <h3>Set yourself up to save today</h3>
 <a class="btn btn-success" href="/users/sign_up">Sign Up</a>
</div>
