<div>
  <fieldset class="formAction col-md-1 col-md-offset-8">
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-info btn-block" %>
      </fieldset>
</div>

<div class="spacer-md">
</div>

<div class="col-md-6 text-center col-md-offset-3">
 <h1>Ditch the paper logbook.</h1>
 <div class="spacer-mic">
</div>
 <h4>Tax Trax is the digital record keeper that keeps track of your work mileage and helps you calculate it to get the most money back in tax rebates.</h4>
</div>

<div class="spacer-sm">
</div>

<div class="col-md-6 text-center col-md-offset-3">
 <a class="btn btn-success " href="/users/sign_up">Sign Up Today</a>
</div>

<div class="spacer">
</div>

<div class="col-md-8 text-center col-md-offset-2 ">
 <h2>If you are using your personal car for work, Tax Trax can give you a tax rebate.</h2>
 <div class="spacer-sm">
</div>
 <div id="forDuo" class="text-center col-md-offset-1">
 <div class="col-md-6">
  <h3 class="">Delivery Drivers</h3>
   <p>If you are working for someone and using your personal car to drive, you are spending money for work. Tax laws recognize that, and are willing to give you money back if you track your expenses.</p>
 </div>
 <div class="col-md-6">
  <h3 class="">Independent Contractors</h3>
   <p>If you work for yourself and use your personal car to drive, you are paying into your work. Tax laws also recognize that, and will give you your personal money back if you keep good records.</p>
 </div>
 </div>
</div>

<div class="spacer">
</div>

<div class="col-md-6 text-center col-md-offset-3">
 <h2>What are you waiting for?</h2>
 <h3>Set yourself up to save today</h3>
 <div class="spacer-sm">
</div>
 <a class="btn btn-success" href="/users/sign_up">Sign Up</a>
</div>
