<!DOCTYPE HTML>
<html>

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>

<body>
  <div id="wrapper">

    <header>
      <nav class="main-nav">
        <ul>
          <li class="nav-left">
            <a href="./go.html">Back</a>
          </li>
          <li class="nav-center">
            <h1 class="screen-title">
              End trip data
            </h1>
          </li>
          <li class="nav-right">
          </li>
        </ul>
      </nav>
    </header>

    <main class="log-screen">
      <form action="./confirm.html">
        <fieldset>
          <label for="odometer" class="txt-center">
            Enter your ending odometer
          </label>


          <input
            type="number"
            class="txt-center"
            id="odometer"
            name="odometer" />
        </fieldset>

        <fieldset class="formAction">
          <input
            type="submit"
            value="Log Mileage"
            class="btn btn-success btn-block" />
        </fieldset>
      </form>
    </main>
  </div>

</body>

</html>
