<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="#">Sign Out</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Main Menu
          </h1>
        </li>
        <li class="nav-right"></li>
      </ul>
    </nav>
  </header>

<ul>
  <li><a href="/trips/new">New Trip</a></li>
  <li><a href="/jobs/index">Job Info</a></li>
  <li><a href="/vehicles/index">Vehicle Info</a></li>
  <li><a href="#">Driving Log</a></li>
  <li><a href="#">File for Taxes</a></li>
</ul>
