<h1>StaticPages#mainmenu</h1>

<ul>
  <li><a href="/trips/new">New Trip</a></li>
  <li><a href="#news">Job Info</a></li>
  <li><a href="/vehicles/index">Vehicle Info</a></li>
  <li><a sign_out @user>Sign Out</a></li>
</ul>
