<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a><%= link_to "Sign Out", destroy_user_session_path, :method =>"delete" %></a>
          <!--a class ="back" href="#">Sign Out</a-->
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Main Menu
          </h1>
        </li>
        <li class="nav-right"></li>
      </ul>
    </nav>
  </header>

<a href="#openModal">Open Modal</a>

<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Welcome to Tax Trax</h2>
    <p>To get started, before you drive, click on the Job and Vehicle info to add
       add information to get started.</p>
  </div>
</div>

<ul>
  <li><a href="/trips/new">New Trip</a></li>
  <li><a href="/jobs">Job Info</a></li>
  <li><a href="/vehicles">Vehicle Info</a></li>
  <li><a href="/my_trips">Driving Log</a></li>
  <li><a href="#">File for Taxes</a></li>
</ul>

<a href="#openModal">Open Modal</a>

<div id="openModal" class="modalDialog">
</div>
