  <div id="wrapper">

    <header>
      <nav class="main-nav">
        <ul>
          <li class="nav-left">
            <a href="./log.html">Change</a>
          </li>
          <li class="nav-center">
            <h1 class="screen-title">
              Your last trip
            </h1>
          </li>
          <li class="nav-right">
            <a href="#">Menu</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="confirm-screen">
      <div class="confirm-screen-message">
        <p>
          You just drove <strong><%= @trip.miles %> miles</strong><br/>
          for <strong><%= @trip.job.name%></strong>
        </p>

        <p>
          <a href="/trips/new" class="btn">
            Start a new trip
          </a>
        </p>
      </div>
    </main>
  </div>
