  <div id="wrapper">
  <header>
   <nav class="main-nav">
    <h2 class="screen-title col-md-6 text-center">Your last trip</h2>
   </nav>
  </header>

    <main class="confirm-screen">
     <div class="col-md-6 col-md-offset-3 isotope-item">
     <div class="panel panel-default">
     <div class="panel-heading">
     </div>

      <div class="panel-body text-center">
        <p>
          You just drove <strong><%= @trip.miles %> miles</strong><br/>
          for <strong><%= @trip.job.name%></strong>
        </p>

        <p>
          <a href="/trips/new" class="btn btn-success">
            Start a new trip
          </a>
        </p>

        <p>or</p>

        <p>
          <a href="/" class="btn btn-primary ">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desktop&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </p>

      </div>
     </div>
     </div>
    </main>

  </div>
