  <div id="wrapper">
    <header>
     <nav class="main-nav">
      <h2 class="screen-title col-md-6 text-center">End trip data</h2>
     </nav>
    </header>

    <main class="log-screen">
     <div class="col-md-6 col-md-offset-3 isotope-item">
     <div class="panel panel-default">
     <div class="panel-heading">
     </div>

      <div class="panel-body text-center">
      <div class="form-group">
      <%= form_tag "/trips/#{@trip.id}" do %>
        <fieldset>
          <label for="odometer" class="txt-center">
            Enter your ending odometer
          </label>


          <input
            type="number"
            class="txt-center"
            id="odometer"
            placeholder="<%= @trip.starting_odometer %>"
            name="ending_odometer"
            min="<%= @trip.starting_odometer %>" />
        </fieldset>
        </div>

        <fieldset class="formAction">
          <input
            type="submit"
            value="Log Mileage"
            class="btn btn-success" />
        </fieldset>
      <% end %>
      </div>

     </div>
     </div>
    </main>
  </div>
