  <div id="wrapper">
    <header>
     <nav class="main-nav">
      <h2 class="screen-title text-center">Shift Ended</h2>
     </nav>
    </header>

    <main class="log-screen">
     <div class="col-md-6 col-md-offset-3 isotope-item">
     <div class="panel panel-default">
     <div class="panel-heading">
      <p class="text-center"><strong></strong></p>
     </div>

      <div class="panel-body text-center">
      <div class="form-group">
      <%= form_for @trip, :html => { :class => "form-horizontal" } do |f| %>
        <fieldset>
          <label for="odometer" class="txt-center">
            Enter your ending odometer
          </label>


          <input
            class="txt-center"
            id="odometer"
            placeholder="<%= @trip.starting_odometer %>"
            name="ending_odometer"
            min="<%= @trip.starting_odometer %>"
            type="tel" />
        </fieldset>
        </div>

        <fieldset class="formAction">
         <%= f.submit class: "btn btn-success" %>
        </fieldset>
      <% end %>
      </div>

     </div>
     </div>
    </main>
  </div>
