  <div id="wrapper">

    <header>
      <nav class="main-nav">
        <ul>
          <li class="nav-left">
            <a href="/my_trips">Back</a>
          </li>
          <li class="nav-center">
            <h1 class="screen-title">
              End trip data
            </h1>
          </li>
          <li class="nav-right">
          </li>
        </ul>
      </nav>
    </header>

    <main class="log-screen">
      <%= form_tag "/trips/#{@trip.id}" do %>
        <fieldset>
          <label for="odometer" class="txt-center">
            Enter your ending odometer
          </label>


          <input
            type="number"
            class="txt-center"
            id="odometer"
            placeholder="<%= @trip.starting_odometer %>"
            name="ending_odometer"
            min="<%= @trip.starting_odometer %>" />
        </fieldset>

        <fieldset class="formAction">
          <input
            type="submit"
            value="Log Mileage"
            class="btn btn-success btn-block" />
        </fieldset>
      <% end %>
    </main>
  </div>
