<header>
      <nav class="main-nav">
        <ul>
          <li class="nav-left">
            <a href="/filing1">Back</a>
          </li>
          <li class="nav-center">
            <h1 class="screen-title">
              Filing 2 0f 3
            </h1>
          </li>
          <li class="nav-right">
          </li>
        </ul>
      </nav>
</header>

<main>
 <h2>
  Please confirm the following is correct.
 </h2>

<fieldset>
 <label for="vehicle_start_date">
   When did you start using the vehicle for work?
  </label>

   <input type="date" id="car_start_date" name="vehicle_start_date" placeholder="USER.VEHICLE>CREATED_AT" required/>
  </select>
</fieldset>

<fieldset>
 <label for="years_mileage">
   Your total Mileage for 2014
  </label>

   <input type="number" id="total_mileage" name="years_mileage" placeholder="years_mileage" required/>
  </select>
</fieldset>

<fieldset>
 <label for="biz_mileage">
   Your total Business Mileage
  </label>

   <input type="number" id="biz_mileage" name="biz_mileage" placeholder="TRIPS.MILES" required/>
  </select>
</fieldset>

<fieldset class="formAction">
  <input
   type="submit"
   value="Confirm"
   class="btn btn-success btn-block" />
 </fieldset>
</main>
