<header>
      <nav class="main-nav">
        <ul>
          <li class="nav-left">
            <a href="/filing1">Back</a>
          </li>
          <li class="nav-center">
            <h1 class="screen-title">
              Filing 3 0f 3
            </h1>
          </li>
          <li class="nav-right">
          </li>
        </ul>
      </nav>
</header>

<main>
 <h2>
  Please confirm the following is correct.
 </h2>
 <fieldset>
  <label for="percent_biz_useage">
   What was your vehicle's percent use for business?
  </label>

   <input type="number" id="biz_percent" name="percent_biz_useage" placeholder="percent_biz_useage" required/>
  </select>
 </fieldset>

 <fieldset>
  <label for="percent_biz_useage">
   What was your vehicle's percent use for business?
  </label>

   <input type="number" id="biz_percent" name="percent_biz_useage" placeholder="percent_biz_useage" required/>
  </select>
 </fieldset>

 <fieldset>
  <label for="roundtrip_commute">
   What was your total commuting mileage for the year?
  </label>

   <input type="number" id="commute_mileage" name="roundtrip_commute" placeholder="roundtrip_commute" required/>
  </select>
 </fieldset>

 <fieldset>
  <label for="other_mileage">
   What was your total other mileage,(outside of work or commuting)?
  </label>

   <input type="number" id="other_mileage" name="other_mileage" placeholder="other_mileage" required/>
  </select>
 </fieldset>

 <fieldset class="formAction">
  <input
   type="submit"
   value="Confirm"
   class="btn btn-success btn-block" />
 </fieldset>
</main>
