<div id="wrapper">

  <header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="/">Back</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Starting Trip Info
          </h1>
        </li>
        <li class="nav-right">
          <a href="stop.html" class="disabled">Next</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <%= form_tag "/trips" do %>
      <fieldset>
        <label for="company">
          Who are you driving for?
        </label>

        <select id="job" name="job_id" required>
          <% current_user.jobs.each do |job| %>
            <option value="<%= job.id %>"><%= job.name %></option>
          <% end %>
        </select>
      </fieldset>

      <fieldset>
        <label for="shift">
          How many hours is your shift?
        </label>

        <input id="shift" type="number" name="shift_hours" required>
      </fieldset>

      <fieldset>
        <label for="odometer">
          What's your starting odometer?
        </label>

        <input type="number" id="odometer" name="starting_odometer" placeholder="Enter starting mileage" required/>
      </fieldset>

      <fieldset class="formAction">
        <input
          type="submit"
          value="Start Trip"
          class="btn btn-success btn-block" />
      </fieldset>
    <% end %>
  </main>
</div>
