  <div id="wrapper">
    <header>
      <nav class="main-nav">
       <h2 class="screen-title col-md-6 text-center">Trip in progress</h2>
      </nav>
    </header>


    <main class="stop-screen">
      <div class="col-md-6 col-md-offset-3 isotope-item">
      <div class="panel panel-default">
      <div class="panel-heading">
       <strong class="text-center">Please drive safely. </strong>
      </div>
       <div class="panel-body text-center">
        <p class="timer-caption">Time until reminder</p>
        <h2 class="timer" id="timer"><%= @trip.shift_hours %>:00</h2>

      <p>You have not yet entered your trip data.<br>
         Please click below when finished driving.</p>
      <p>
        <a href="/trips/<%= @trip.id %>/edit" class="btn btn-success">End Trip</a>
      </p>
      </div>
     </div>
     </div>
    </main>
  </div>

  <script type="text/javascript">
    window.onload = function() {
      var tickTock = function() {
        var timer = document.getElementById("timer").innerHTML.split(':'),
            hours = parseInt(timer[0], 10),
            minutes = parseInt(timer[1], 10),
            seconds = parseInt(timer[2], 10);

        minutes -= 1;

        if (minutes < 0 && hours != 0) {
          hours -= 1;
          minutes = 59;
        } else if (hours == 0 && minutes <= 0) {
          clearInterval(interval);
        }

        seconds -= 1;

        if (seconds < 0 && minutes != 0) {
          minutes -= 1;
          seconds = 59;
        } else if (minutes == 0 && seconds <= 0) {
          clearInterval(interval);
        }


        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        document.getElementById("timer").innerHTML = (hours + ':' + minutes);
      }

      var interval = setInterval(tickTock, 1000);
    };
  </script>
