<header>
    <nav class="main-nav">
      <ul>
        <li class="nav-left">
          <a class ="back" href="/jobs/index">Cancel</a>
        </li>
        <li class="nav-center">
          <h1 class="screen-title">
            Add a new Job
          </h1>
        </li>
        <li class="nav-right"></li>
      </ul>
    </nav>
  </header>
