<header>
 <nav class="main-nav">
  <h1 class="screen-title col-md-6 col-md-offset-3">Job</h1>
 </nav>
</header>

<main>
<div class="col-md-6 col-md-offset-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <dl>

          <dt>Company</dt>
          <dd class="shower"><%= @job.name %></dd>
          <br>

          <dt>Industry</dt>
          <dd class="shower"><%= @job.industry %></dd>
          <br>

          <dt>Daliy Commute</dt>
          <dd class="shower"><%= @job.daily_commute %></dd>
          <br>

        </dl>
        <div class="btn-group btn-group-justified">
        </div>
</main>
