<header>
      <nav class="main-nav">
        <ul>
          <li class="nav-left">
            <a href="/filings/new">Back</a>
          </li>
          <li class="nav-center">
            <h1 class="screen-title">
              Edit File Form
            </h1>
          </li>
          <li class="nav-right">
          </li>
        </ul>
      </nav>
</header>
<br>
<%= render 'form' %>

<%= link_to 'Show', @filing %> |
<%= link_to 'Back', filings_path %>
