<header>
      <nav class="main-nav">
        <ul>
          <li class="nav-left">
            <a href="/">Back</a>
          </li>
          <li class="nav-center">
            <h1 class="screen-title">
              New filing
            </h1>
          </li>
          <li class="nav-right">
          </li>
        </ul>
      </nav>
</header>
<main>
<%= render 'form' %>

<br>
<%= link_to 'Cancel', filings_path %>
</main>
