/* BOOSTRAP */
@import "bootstrap-sprockets";
@import "bootstrap";

.nav-profile-picture{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.text-interest {
  color: green;
}

.contextual-interest {
 font-size: 120%;
}

.spacer {
 clear: both;
 height: 100px;
}

.spacer-md {
  clear: both;
  height: 50px;
}

.spacer-sm {
  clear: both;
  height: 25px;
}

.spacer-mic {
  clear: both;
  height: 10px;
}

.navbar-image {
  height: 50px;
  border-radius: 50%;
}


@media (min-width: 768px) {
  .navbar-toggle {
    display: inline-block;
  }
}
