/* BOOSTRAP */
@import "bootstrap-sprockets";
@import "bootstrap";

.nav-profile-picture{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.text-interest {
  color: green;
}

.contextual-interest {
 font-size: 120%;
}

.spacer {
 height: 100px;
}

.navbar-image {
  height: 50px;
  border-radius: 50%;
}
