/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);
dl {
 text-align: left;
}

td {
 padding-left: 10px;
}
/* SHARED ELEMENTS */

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:1;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: auto;
}

.modalDialog:target {
  opacity:0;
  pointer-events: none;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

main, .panel, .panel-default, .col-xs-12, .col-sm-6, .col-md-4, .col-lg-3, .isotope-item {
  margin: auto;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Sans-serif;
}

a {
  color: #0076FF;
  text-decoration: none;
}

a.disabled {
  color: #B1B1B1;
}

hr {
  border: 1px solid #CCCCCC;
  border-width: 1px 0 0 0;
}

.btn-caution {
 color: red;
}

/* MISC */

.txt-center {
  text-align: center;
}


/* HEADER */

header {
 height: 50px;
}

/* MAIN NAV */

.main-nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  /*padding-left: 130px;*/
  height: 50px;
}

.main-nav li {
  position: relative;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  line-height: 50px;f
  height: 100%;
  margin: 0 -4px 0 0;
  padding: 0;
  height: 50px;
}

.main-nav .nav-left {
  float: left;
  overflow: none;
  width: 20%;
  padding-left: 22px;
}


.main-nav .nav-center {
  width: 60%;
}

.main-nav .nav-right {
  width: 30%;
  text-align: right;
  padding-right: 10px;
}

.main-nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background: #F8F8F8;
  border-bottom: 1px solid #CCCCCC;
}

.main-nav .screen-title {
  text-align: center;
  margin: 0;
  font-size: 18px;
}

.main-nav .sign-in {
 margin-left: 20px;
}

/* MAIN CONTENT */

main {
  background-color: #FFF;
  padding: 20px;
  text-align: center;
}

/* FORM */

label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

select,
input[type="text"],
input[type="date"],
input[type="number"],
#passwordSignIn,
#emailSignIn,
input,
dd {
  background: #FFF;
  border-radius: 0;
  border: 1px solid #CCCCCC;
  width: 100%;
  font-size: 20px;
  padding: 8px 12px;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

fieldset,
ul {
  width: 90%;
  margin: auto auto 20px auto;
  border: none;
}

/* BUTTONS */

.btn {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  color: #2087fc;
  font-size: 16px;
  text-align: center;
  background: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #2087fc;
  -webkit-appearance: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-small {
  height: 25px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
}

.btn-sm {
 height: 35px;
 margin-left: 10px;
 margin-right: 10px;
}

.btn-success {
  font-weight: 500;
  color: white;
  background: #46ca5e;
  box-shadow: none;
}

.btn-danger {
  font-weight: 500;
  color: white;
  background: #fd3c31;
  box-shadow: none;
}

.btn-primary {
  font-weight: 500;
  color: white;
  background: #33CCFF;
  box-shadow: none;
}

.btn-warning {
  font-weight: 500;
  color: white;
  background: #FFCC00;
  box-shadow: none;
}
/* TIMER */

.timer-container {
  margin: 40px 0;
}

.timer-caption {
  color: #777;
}

.timer {
  border: 1px solid #CCCCCC;
  margin: 0 auto;
  border-width: 1px 0;
  font-size: 100px;
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
}

/* STOP SCREEN */

.stop-screen {
  width: 80%;
  margin: 0 auto;
}

/* LOG SCREEN */

.log-screen form {
  margin-top: 60px;
}

/* CONFIRM SCREEN */

.confirm-screen-message {
  font-size: 27px;
  margin-top: 40%;
}


/* Main Menu */

#mainmain {
 position: relative;
}

#mainmenuoptions {
  background: #FFF;
  border-radius: 0;
  width: 100%;
  font-size: 20px;
  padding: 8px 12px;
  margin: 10px 0;
}

#mainmenuoptions li {
  list-style: none;
  margin: 10px 0;
}

.profiling {
  clear: both;
  padding-bottom: 10px;
}

@media screen and (max-width: 300px) {
    body {
        background-color: lightblue;
    }
}

.profilingLft {
  float: left;
  margin-right: 10px;
}

.profilingRt {
  float: left;
  margin-left: 35px;
}

.profile-pic {
  height: 325px;
  width: 250px;
  margin: 10px;
}

#NewTrip {
 width: 200px;
 margin: auto;
}

#profile_vehicle {
  margin-top: 20px;
  clear: both;
}

#profile_job {}

.spam {
 height: 75px;
}

.main-table-title {
 padding-top: 15px;
 float: left;
 clear: left;
}

thead tr th {
 padding: 5px;
}

.main-table-add {
 margin-top: 25px;
 float: right;
 clear: right;
}

.VehicTable {
 width: 25%;
}

.JobTable{
 width: 25%;
}

/* Vehicle Show page*/

.shower {
 margin-left: -0px;
}

/* Filing Show/ Mileage Filing Display */

table, th, tr, td {
  outline: 1px solid black;
  }

  table {
   text-align: left;
   width:      100%;
  }

 input .TorF {
 background-color: red;
}

#topper {
 margin: 20px;
}
